body {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

a {
  cursor: pointer;
}

.btn {
  &:focus {
    box-shadow: unset;
  }
}
