.image-wrapper {
    position: relative;
    height: 0;

    img {
        width: 100%;
        top: 0;
        position: absolute;
        object-fit: cover;
        height: 100%;
        left: 0;
    }
}
.image-1-1 {
    padding-top: calc(100%);
}
